# SPDX-FileCopyrightText: 2026 Cogip
# SPDX-License-Identifier: LGPL-2.1-only

config CPU_FAM_H5
    bool
    select CPU_STM32
    select CPU_CORE_CORTEX_M33

config CPU_FAM
    default "h5" if CPU_FAM_H5
